@import "src/assets/colors";

.container {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $medium;
  margin-bottom: 10px;
}

.darkContainer {
  background-color: $secondary;
}

.breadCrumbs {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.home {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary;
}

.pipe {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: $gray;
}

.postNumber {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
}
.imgTextContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 48px;
}

.imgPost {
  width: 992px;
  height: 518px;
  margin-top: 48px;
  object-fit: cover;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: $secondary;
  max-width: 920px;
  margin-bottom: 48px;
}
.darkText {
  color: $white;
}

.buttonContainer {
  max-width: 922px;
  max-height: 56px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}

.leftBtn {
  display: flex;
  gap: 6px;
}

.rightBtn {
  display: flex;
  gap: 10px;
}

