@import "src/assets/mixins";
@import "src/assets/colors";


.userBlock {
  height: 83px;
  background-color: $primary;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 32px;
}

.userAbbreviation {
  @include user();
  width: 48px;
  height: 48px;
  background-color: $primary-secondary;
  border-radius: 2px;
}

.userName {
  @include user();
  padding-right: 30px;
}