@import "src/assets/colors";

@mixin button {
  border-radius: 2px;
  padding: 16px 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  &:hover {
    cursor: pointer;
  }
}

@mixin user {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}