@import "src/assets/colors";

.breadCrumbs {
  cursor: pointer;
  text-decoration: none;
  color: $secondary;
  &:active {
    color: $primary;
  }
}

.darkBreadCrumbs {
  color: $white;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-bottom: 72px;
}

.mainBlockContainer {
  border: 1px solid $medium;
  box-sizing: border-box;
  max-width: 624px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 10px;
  margin-bottom: 152px;
}
.darkMainBlockContainer {
  border: 1px solid $gray;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.forgotPass {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $secondary;
  margin-bottom: 38px;
  cursor: pointer;
}

.darkForgotPass {
  color: $white;
}

.signUp {
  margin-top: 24px;
  text-align: center;
  width: 544px;
}
.darkSignUp {
  color: $white;
}

.navButton {
  text-decoration: none;
  margin-left: 4px;
  color: $primary;
  &:hover {
    text-decoration: underline;
  }
}

.infoContainer {
  display: flex;
  justify-content: center;
}